    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: black;
    }

    .slider {
        position: relative;
        width: 400px;
        height: 250px;
        overflow: hidden;
        /* margin: 20px auto; */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    }

    .slides {
        display: flex;
        /* width: 100%; */
        height: 100%;
        transition: transform 0.5s ease;
    }

    .slides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(104, 104, 104, 0.5);
        color: white;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 18px;
        z-index: 10;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: white;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px
    }